# Binaries
bin/
/miniblue
/azlocal
*.exe
*.dll
*.so
*.dylib

# Test
*.test
*.out
coverage.html
coverage.txt

# Go
vendor/
go.work
go.work.sum

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
Thumbs.db

# Docker
.docker/
docker-compose.override.yml

# Environment
.env
.env.*

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
.terraform.tfstate.lock.hcl

# Python
.venv/
__pycache__/
*.pyc
*.pyo

# Node.js
node_modules/
package-lock.json

# Certificates
.miniblue/
